* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
}

ul {
	list-style: none;
}

.header {
	background-color: #1a535c;

	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__logo {
		width: 150px;
		height: 150px;
	}

	&__nav {

		.nav {
			display: flex;

			&__item {
				margin-right: 20px;

				&__link {
					color: #f7fff7;
					text-decoration: none;

					&:hover {
						color: #ffe66d;
						transition: 1s;
					}
				}
			}
		}
	}

	&__button {
		width: 150px;
		height: 60px;

		background-color: #ff6b6b;
		color: #f7fff7;
		font-family: 'Montserrat', Arial, sans-serif;
		font-size: 16px;
		border: none;
		border-radius: 30px;
		cursor: pointer;

		&:hover {
			background-color: #ffe66d;
			color: #1a535c;
			transition: 1s;
		}
	}
}

h1, h2, h3 {
	text-align: center;
}

.main {
	max-width: 1200px;
	margin: 0 auto;

	&__heading {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	&__img {
		display: block;
		margin: 0 auto;
	}

	&__blocks {
		
		.blocks {
			&__heading {
				margin-top: 50px;
				margin-bottom: 40px;
			}

			&__list {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: stretch;

				&__item {
					min-width: 300px;
					max-width: 350px;
					padding: 20px;
					background-color: #ffe66d;
					border-radius: 50px;

					.item {
						&__heading {
							margin-bottom: 20px;
						}

						&__img {
							display: block;
							width: 250px;
							margin: 0 auto;
							border-radius: 20px;
						}

						&__text {
							margin-top: 30px;
							margin-bottom: 20px;
						}

						&__list {
							list-style-type: disc;
							padding-left: 20px;

							&__item {
								
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	bottom: 0;
	margin-top: 200px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #1a535c;
	color: #f7fff7;
	text-align: center;
}