* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  background-color: #1a535c;
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  width: 150px;
  height: 150px;
}

.header__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .nav__item {
  margin-right: 20px;
}

.header__nav .nav__item__link {
  color: #f7fff7;
  text-decoration: none;
}

.header__nav .nav__item__link:hover {
  color: #ffe66d;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__button {
  width: 150px;
  height: 60px;
  background-color: #ff6b6b;
  color: #f7fff7;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.header__button:hover {
  background-color: #ffe66d;
  color: #1a535c;
  -webkit-transition: 1s;
  transition: 1s;
}

h1, h2, h3 {
  text-align: center;
}

.main {
  padding: 30px 0 100px;
}

.main__heading {
  margin-top: 20px;
  margin-bottom: 40px;
}

.main__img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.blocks__heading {
  margin-top: 50px;
  margin-bottom: 40px;
}

.blocks__list {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.blocks__list__item {
  min-width: 300px;
  max-width: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 50px;
}

.blocks__list__item:hover {
  -webkit-animation: uwu 2s ease;
          animation: uwu 2s ease;
}

.blocks__list__item .item__heading {
  margin-bottom: 20px;
}

.blocks__list__item .item__img {
  display: block;
  width: 250px;
  margin: 0 auto;
  border-radius: 20px;
}

.blocks__list__item .item__text {
  margin-top: 30px;
  margin-bottom: 20px;
}

.blocks__list__item .item__list {
  list-style-type: disc;
  padding-left: 20px;
}

@-webkit-keyframes uwu {
  50% {
    -webkit-box-shadow: 0 0 50px #ff6b6b;
            box-shadow: 0 0 50px #ff6b6b;
  }
}

@keyframes uwu {
  50% {
    -webkit-box-shadow: 0 0 50px #ff6b6b;
            box-shadow: 0 0 50px #ff6b6b;
  }
}

.main-light .blocks__list__item {
  background-color: #ffe66d;
}

.main-dark {
  color: #f7fff7;
  background-color: #000000;
}

.main-dark .blocks__list__item {
  background-color: #1a535c;
  color: #f7fff7;
}

.footer {
  bottom: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a535c;
  color: #f7fff7;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */